@charset "utf-8";
@import "compass";
@import "compass/reset";
@import "lib/shed.class";
@import "lib/shed.animation";
@import "app.vars";
@import "app.mixin";
@import "app.z-index";
::-moz-selection {color: #fff;background: transparent;}
::selection {color: #fff;background: transparent;}
html, body {
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 1.231;
	color: $black;
	font-family: $basic-font-family;
	*font-size:small;
	*font:x-small;
	font-weight: normal;
	line-break: strict;
	word-break: break-strict;
	-webkit-text-size-adjust: 100%;
	background: $beige;
}
a {
	@include transition(0.1s);
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(98, 120, 181, 0.8);
	&:hover {
		text-decoration: none;
	}
}
.content-inner {
	width: $content-width;
	margin: 0 auto;
	position: relative;
}
// app
#app {
	width: 100%;
	min-width: $min-width;
	@include min-height(100%);
	overflow: hidden;
	position: relative;
}
// header
#g-header {
}
// main
#main {
	position: relative;
}
// footer
#g-footer {
	position: relative;
}
// modal
.modal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: $zIndex-8--modal;
	visibility: hidden;
	width: 0;
	height: 0;
}
.modal.show {
	width: 100%;
	height: 100%;
	visibility: visible;
	.bg {
		@include transition(0.1s);
		opacity: 1;
	}
	.wrap {
		@include transition-duration(0.2s);
		@include transition-delay(0.2s);
		opacity: 1;
	}
}
.modal .bg {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $zIndex-6--modalBg;
}
.modal .wrap {
	opacity: 0;
	margin: 0 auto;
	position: relative;
	z-index: $zIndex-7--modalWrap;
}
