[user]
	name = izibazi
	email = izibazi@gmail.com
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = /Users/ishibashi/.gitignore_global
	autocrlf = input
	pager = less
[push]
	default = matching
[mergetool "p4merge"]
	path = p4merge
	keepTemporaries = false
	trustExitCode = false
[help]
	autocorrect = 1
[alias]
	a = add
	b = branch
	bd = branch -d
	co = commit
	com = commit -m
	coam = commit -am
	ch = checkout
	chb = checkout -b
	m = merge
	me = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s' --author=izibazi
	l = log --oneline --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	s = status -s
	st = status
	today = log --oneline --graph --decorate --since='24 hours ago'
[commit]
	template = /Users/ishibashi/.gitmessage
[merge]
	tool = vimdiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
